*, html, body{
    margin:0;
    padding:0;  
   
}



body {
    background-image: url(../images/concrete_seamless.png);
    position: static;
   

  }


  header{
    background-color: #fff;
    height: 150px;
    border-bottom: 2px solid #cccccc;
    position: relative;
    top: -35px;
   
}

.navigation{
    position: absolute;
    top: 80px;
    right: 230;
    padding: 10px;
    
  
}

nav{
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
}

li{
    display: inline; 
    padding-inline-start: 30px;

}

a{
    text-decoration: none; 
    color: #777777; 
    width: 145px;
    height: 200px;
   
}

#absolute{
    background-color: #4aaaa5;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 22px;
    width: 240px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #fff;
    position: relative;
    top: 61px;
    right: -200px;
    width: 200px;
    height: 50px;
    text-align: center;
   
}




.container{
    clear: both;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    
    

    

}

p{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    font-size: 15px;
    
}


#main-bio{
   height: 1200px;
   margin: 0;
   min-height: calc(100vh - 70px);

}


h2{
    color: #4aaaa5;
    padding-top: 40px;
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}



h4{
    background-color: #4aaaa5;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    text-align: center;
    position: relative;
    
}


#division{
    border-top: 2px solid #cccccc;
    padding-left: 20px;
    padding-top: 20px;
}

.image{
    position: relative;
    display: inline-block;
}

 .title{
     position: absolute;
     width: 100%;
     color: #fff;
     background-color: #4aaaa5;
     text-align: center;
     z-index: 3;
     top: 80px;
     left: center;
     width: 150px;
     left: 10px;
 }   


.pics{
   position: relative;
   padding: 20px;
   margin: 20px;
  

}


/*
.portfoliotitle{
    position: absolute;
    width: 150px;
    display: inline-block;
    top: 375px;
   
    

}    


.portfoliolink{
    position: relative;
    margin: 20px;
    width: 45%;
}



#image1 #image2 #image3 #image4 #image5{
    width: 100%;

}
*/

footer{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    height: 100px;
    padding: 0;
    text-align: center;
    color: #fff;
    
}

#footer{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    
}








    




  