*, html, body{
    margin:0;
    padding:0;  
   
}



body {
    background-image: url(../images/concrete_seamless.png);
    position: static;
   

  }


  header{
    background-color: #fff;
    height: 150px;
    border-bottom: 2px solid #cccccc;
    position: relative;
    top: -35px;
   
}

.navigation{
    position: absolute;
    top: 80px;
    right: 230;
    padding: 10px;
    
  
}

nav{
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
}

li{
    display: inline; 
    padding-inline-start: 30px;

}

a{
    text-decoration: none; 
    color: #777777; 
    width: 145px;
    height: 200px;
   
}

/* MY PICTURE */
#absolute{
    background-color: #4aaaa5;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 22px;
    width: 240px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #fff;
    position: relative;
    top: 61px;
    right: -200px;
    width: 200px;
    height: 50px;
    text-align: center;
   
}




.container{
    clear: both;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;  

}



p{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;   
}


#image{
    float:left;
    margin: 10px;
}

#p {
   padding: 0
    text-align: justify;
}


#main-bio {

}

h1{
   color: #fff;
   margin: 10px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 20px;
   text-align: center;
}


h2{
    color: #4aaaa5;
    padding-top: 40px;
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}



h4{
    background-color: #4aaaa5;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    text-align: center;
    position: relative;
    
}


#division{
    border-top: 2px solid #cccccc;
    padding-left: 20px;
    padding-top: 20px;
}

.image{
    position: relative;
    display: inline-block;
}

 .title{
     position: absolute;
     color: #fff;
     background-color: #4aaaa5;
     text-align: center;
     z-index: 3;
     top: 70%;
     left: center;
     left: 10px;
     width: 250px;
 }   

 .portfolio{
     position: relative;
 }


.pics{
   position: relative;
   padding: 20px;
   margin: 20px;
   float:left;
  
}

.clear-fix::after {
     content: "";
     clear: both;
     display: table;
}



.my-form{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #777777;


}

.my-form .form-group{
    padding-bottom: 10px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
    
    
}

.my-form textarea{
    height: 250px;
}

.my-form input[type="Submit"]{
    background-color: #4aaaa5;
    color: #fff;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;

}
#footer{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    height: 100px;
    padding: 0;
    text-align: center;
    color: #fff;
   
}



@media only screen and (max-width: 639px) {



li{
    display: inline; 
    padding-inline-start: 30px;

}

a{
    text-decoration: none; 
    color: #777777; 
    width: 145px;
    height: 200px;
   
}

#absolute{
    background-color: #4aaaa5;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 22px;
    width: 240px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #fff;
    position: relative;
    top: 10px;
    right: 25px;
    width: 400px;
    height: 100px;
    text-align: center;
   
}

.navigation{
    position: static;
    top: 80px;
    padding: 10px;
    right: 230px;
    
  }

nav{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
}

p{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;   
    padding-left: 10px;
    padding-right: 15px;
    width: 400px;

}

h1{
    color: #fff;
    margin: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
 }

 .container{
    clear: both;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;  

}






}





@media only screen and (max-width: 767px) {


#absolute{
    top: 10px;
    width: 400px;
    height: 100px;
   
   
}

.navigation{
    position: static;
    top: 80px;
    padding: 10px;
    right: 230px;
    margin: 40px;
    
  }

h1{
    margin-left: -45px;

}

a{
    font-size: x-large;
}

.pics{
    width: 100%;
    padding: 20px;
    margin: 20px;
    float:left;
   
 
 }


 .my-form{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #777777;


}



    

}







@media only screen and (max-width: 980px) {
    

}






    




  