*, html, body{
    margin:0;
    padding:0;  
}

body {
    background-image: url(../images/concrete_seamless.png);

  }


header{
    background-color: #fff;
    height: 150px;
    border-bottom: 2px solid #cccccc;
    position: relative;
    top: -35px;
   
}

.navigation{
    position: absolute;
    top: 80px;
    right: 230;
    padding: 10px;
    
  
}

nav{
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    
}

li{
    display: inline; 
    padding-inline-start: 30px;

}

a{
    text-decoration: none; 
    color: #777777; 
}

#absolute{
    background-color: #4aaaa5;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 22px;
    width: 240px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #fff;
    position: relative;
    top: 61px;
    right: -200px;
    width: 200px;
    height: 50px;
    text-align: center;
   
}




.container{
    clear: both;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    

    

}

p{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    font-size: 15px;
    
}


#main-bio{
   height: 1000px;
   margin: 0;

}


h2{
    color: #4aaaa5;
    padding-top: 40px;
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}


#division{
    border-top: 2px solid #cccccc;
    padding-left: 20px;
    padding-top: 20px;
}


/* Portfolio.css starts here */

#left1
#left2
#left3

#right1
#right2

footer{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    height: 100px;
    padding: 0;
}

#footer{
    text-align: center;
    color: #fff;
}
    



  